@import url('./fonts/graphik.css');
/* @import url('./fonts/helveticaneue.css'); */

* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Graphik', sans-serif!important;
    font-weight: normal;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 64px;
}

.header .container {
    height: 100%;
}

.navbar {
    height: 100%;
}